@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 ul{
 	list-style-type: none;
 }
 a{
 	text-decoration: none;
 }
body{
     font-family: 'Roboto', sans-serif;
}
:root{
    --text-color:#3cb878;
    --text-hover:#ec7033;
    --color:#333333;
}
/*header Start*/
header {
	width: 100%;
	height: 6.25em;
}
.header__container{
	height: 6.25em;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.header__container .logo a{
	color: var(--text-color);
	font-size: 1.625em;
	text-transform: uppercase;
	font-weight: bold;
}
.header__container .menu ul li{
	display: inline;
	margin-right: 2.5em;
}
.header__container .menu ul li a{
	color: var(--color);
}
.header__container .menu ul li a.active{
	color: var(--text-color);
}
.header__container a:hover,
.header__container ul li a:hover,
.header__container .menu ul li a.active:hover{
	color: var(--text-hover);
	cursor: pointer;
}
.header__container .icon i{
	font-size: 1.25em;
	margin-right: 1.5625em;
}
.header__container .icon .circle{
	position: relative;
}
.header__container .icon span{
	position: absolute;
	width: 1.375em;
	height: 1.375em;
	line-height: 1.375em;
	border-radius: 50%;
	text-align: center;
	top: -0.75em;
	right: -0.75em;
	color: #fff;
	background-color: var(--text-color);
}

/*slider Start*/
slider,
slider .slider__container{
    width: 100%;
    height: 50em;
}
slider .slider__container{
	position: relative;
}
slider .slider__container .item img{
	width: 100%;
	height: 50em;
}
slider .slider__container h2{
	position: absolute;
	top:45%;
	left: 14%;
	line-height: 1.875em;
	letter-spacing: 0.25em;
}
.slider__container span, .slider__container small{
	display: block;
	font-size: 1.625em;
}
.slider__container small{
	color: var(--text-color);
}
/*Best-seller Start*/
best-seller {
	display: block;
    width: 100%;
    margin:3.75em 0em 0em 0em;
}
best-seller .seller__container ul {
	margin: 0em 0em 0em 1em;
    display: flex;
    align-items: center;
}
best-seller .seller__container ul li div h3{
	letter-spacing: 0.15em;
	color: var(--color);
}
best-seller .seller__container ul li div small{
	color: var(--text-color);
}
best-seller .seller__container ul li div h4{
	color: var(--color);
	font-weight: normal;
	line-height: 1.4;
	margin:1em 0em 0em 0em;
}
best-seller ul li{
	width: 20%;
	min-height: 200px;
	margin-right: 15px;
	position: relative;
}
best-seller .seller__container img{
	width: 100%;
}
best-seller .seller__container ul li a{
	color: var(--color);
	font-size: 1.5em;
}
best-seller .seller__container ul li h5{
	margin:1em 0em 0em 0em;
}
best-seller .seller__container ul li p{
	margin:0.5em 0em 0em 0em;
	color: var(--text-color);
}
best-seller ul li .action{
	position: absolute;
	top: 0;
	right: 0.65em; 
	display: flex;
	flex-direction: column;
}
best-seller ul li div .color__icon{
	width: 1.5625em;
	height: 1.5625em;
	line-height: 1.5625em;
	text-align: center;
	color: #fff;
	margin: 0.75em 0em 0em 0em; 
    background: var(--text-color);
    display: none;
}
best-seller ul li div .color__icon:hover{
	cursor: pointer;
}
best-seller ul li:hover .color__icon{
   display: block;
}
/*section Start*/
section{
	width: 100%;
	display: block;
	height: 18.75em;
}
section .container{
	width: 100%;
	background: #f5f5f9;
	margin:2em 0em 0em 0em;
}
section ul{
	height: 18.75em;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
section ul li{
	text-align: center;
}
section ul li a{
	font-size: 2.5em;
	color: var(--color);
}
section ul li h3{
	letter-spacing: 0.15em;
	color: var(--color);
}
section ul li small{
	color: #979797;
}
summer{
	width: 100%;
	display: block;
}
summer .summer__container{
	width: 100%;
	height: 40em;
	background: #2e3348;
}
summer ul{
	height: 40em;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
summer ul li{
	height: 40em;
	width: 30em;
	text-align: center;
}
summer ul li img{
	max-width: 18.75em;
	margin: 10em 0em 10em 0em;
}
summer ul li:nth-child(2){
	background: #34394f;
}
/*product Start*/
product{
	width: 100%;
	display: block;
}
product .product__container{
	margin: 4em 0em 0em 0em;
	width: 100%;
}
product .product__container .featured{
	text-align: center;
}
product .product__container .featured h2{
	letter-spacing: 0.15em;
}
product .product__container .featured small{
	color: var(--text-color);
}
product ul{
	margin: 4em 0em 0em 0em;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
product ul li{
	width: 18.6%;
	min-height: 200px;
	margin:1em 0em 0em 0.9em;
	position: relative;
}
product ul li img{
	width: 100%;
}
product .product__container ul li a{
	color: var(--color);
	font-size: 1em;
}
product .product__container ul li h3{
	margin:0.5em 0em 0em 0em;
}
product .product__container ul li p{
	margin:0.5em 0em 0em 0em;
	color: var(--text-color);
}
product ul li .action{
	position: absolute;
	top: 0;
	right: 0.65em; 
	display: flex;
	flex-direction: column;
}
product ul li div .color__icon{
	width: 1.5625em;
	height: 1.5625em;
	line-height: 1.5625em;
	text-align: center;
	color: #fff;
	margin: 0.75em 0em 0em 0em; 
    background: var(--text-color);
    display: none;
}
product ul li div .color__icon:hover{
	cursor: pointer;
}
product ul li:hover .color__icon{
   display: block;
}
/*discount Start*/
discount{
	width: 100%;
	display: block;
	margin-top: 2.5em;
}
discount .discount__container{
	width: 100%;
}
discount ul{
	width: 100%;
	display: flex;
}
discount ul li:nth-child(1){
	width: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: no-repeat;
	text-align: center;
	background-image: url(./images/bg.png);
}
discount ul li:nth-child(1) img{
	width: 100%;
}
discount ul li .Special{
	position: absolute;
	line-height: 1.5;	
}
discount ul li .Special a{
	color: #fff;
	font-size: 1.5em;
	font-weight: normal;
}
discount ul li .Special small{
	color: #fff;
	font-size: 1em;
 }
discount ul li .Special p{
	color: #fff;
}
discount ul li:nth-child(1) input{
	width: 18.75em;
	height: 2.5em;
	border:none;
	box-shadow: 1px 1px 1px 2px inset #f6c5f0;
	margin-top: 1.25em;
}
discount ul li:nth-child(1) button{
	height: 2.5em;
	width: 12.5em;
	border:none;
	color: #fff;
	background: var(--text-color);
	margin-left: 0.625em;
}
discount ul li:nth-child(1) button:hover{
    cursor: pointer;
    background: var(--text-hover);
}
discount ul li:nth-child(2){
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #f5f6f9;
}
discount ul li:nth-child(2) img{
	width: 7.5em;
	height: 7.5em;
}
/*footer Start*/
footer{
	width: 100%;
	display: block;
	background: #000;
}
footer ul{
	height: 50px;
	display: flex;
    align-items: center;
}
footer ul li:nth-child(1){
	width: 50%;
	text-align: center;
}
footer ul li:nth-child(1) p{
	color: #fff;
}
footer ul li:nth-child(2){
	width: 50%;
	text-align: center;
}
footer ul li:nth-child(2) img{
	margin-right: 0.625em;
}